/*не получ определить цвет в хедере
F3F7F8
--basic-yellow: #FFBF47;
--basik-blue-light: #3BBCE3;
--basik-purple: #DC91D8;
--basik-green-light: #8ED78F;
--basic-yellow-light: #FFC047;
*/


/* Variables */

:root {
  --basic-white: #ffffff;
  --basik-blue-dark: #293449;
  --basik-blue: #32425C;
  --basik-red: #EE3643;
  --basic-black: #000000;
  --basic-green: #63A63E;
  --basic-yellow: #FFD180;
  --basic-neutral:  #F9F5F0;
  --basik-neutral-light: #F1F5F7;
  --basik-neutral-light-catalog: #F7F3EC;
  --basic-grey: #A9A9A9;
  --basic-greylight: #C5C5C5;

  --cuprum: "Cuprum", "Arial", sans-serif;
  --pt-sans: "PT Sans", "Roboto", sans-serif;
}
/* Global */

input, input:hover, input:focus, input:active, textarea, textarea:hover, textarea:focus, textarea:active {
  border: none;
  outline: none;
}
fieldset {
  border: none;
}
.page {
  height: 100%;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: var(--cuprum);
  color: var(--basic-white);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  position: relative;
    }
a {
    text-decoration: none;
    color: inherit;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  h1 {
    font-weight: normal;

      }
  h2 {
font-weight: normal;

  }
  /* main-header */

.main-header {
  background-color: var(--basik-neutral-light);
  min-height: 320px;

  }
  .top-header-container {
    background-color: var(--basik-blue-dark);

  }

  .index-content
  {
    margin-top: 59px;
  }

.header-logo {
  height: 42px;
  width: 220px;
  background-color: var(--basik-red);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.header-logo:active {
  background-color: #BA2732;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  display: flex;
}
.main-container {
  width: 940px;
  margin: 0 auto;

  /*background-color: var(--basic-white);*/
}
.footer-logo {
  height: 68px;
  width: 220px;
  background: var(--basik-red);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logo:active {
  background:  #BA2732;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  display: flex;
}
/* header-navigation*/

.header-navigation {
  background-color: var(--basik-blue-dark);
  min-height: 42px;
  width: 940px;
  display: flex;
  align-items: center;
}
.header-search-container {
  position: relative;
}
.header-search-container svg {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.3;
  fill: var(--basic-white);
}
.header-search-container:hover svg {
  opacity: 1;
}
.header-search:focus+svg {
  fill: var(--basik-red);
  opacity: 1;
}

.header-search {
  background-color: transparent;
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  width: 280px;
  height: 42px;
  padding-left: 42px;
  box-sizing: border-box;
}
.header-search::placeholder {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  font-family: var(--cuprum);
}

.header-search:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.header-search:focus::placeholder {
  color: var(--basic-black);
}
.header-title-company {
  background-color: transparent;
  color: var(--basik-red);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}
.contacts-phone {
  color: var(--basik-red);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  display: block;
  box-sizing: border-box;
  padding: 7px 45px 8px 74px;
  min-width: 270px;
  min-height: 45px;


  position: relative;
}
.contacts-phone::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 40px;

  width: 18px;
  height: 19px;
  background-image: url("../img/icon/phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.contacts-adress {
  color: var(--basik-blue);
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}
.login-button {
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
}
.user-info {
  justify-self: flex-end;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.login-link {
  /*height: 45px;
  width: 121px;
  box-sizing: border-box;
  position: relative;*/
  display: flex;
  align-items: center;

  padding: 12px 27px 12px 19px;
  margin-right: 10px;
}
.login-link svg {
  /*transform: translateY(-50%);   !!!!!!
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 19px;*/
  fill: #C5C5C5;
  padding-right: 7px;
}
.login-link:hover svg {
  fill: #3D546F;
}
.login-link:active svg {
  fill: var(--basic-greylight);
}


.register-link {
  padding: 12px 24px;
}
.login-button:hover {
  color: var(--basik-red);
}
.login-button:active {
  color: var(--basic-greylight);
}
.bottom-header-container {

  width: 940px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
  column-gap: 20px;
}
.header-contact, .user-info, .user-info-catalog {
  margin-top: 43px;
  min-height: 110px;
  box-sizing: border-box;
}

.user-info-catalog {
  display: flex;
  flex-direction: column;
}

.header-title-company {
  align-self: center;
  width: 197px;
  margin-left: 30px;
}
.header-navigation-main {
  background-color: var(--basik-blue);
  grid-column-start: 1;
  grid-column-end: -1;
}
.header-navigation-list {
  list-style: none;
  margin: 0;
  padding: 16px 53px 20px;
  display: flex;
  justify-content: space-between;
}
.header-navigation-item {
  font-size: 18px;
  line-height: 24px;
  white-space: nowrap;
  padding: 9px 19px;
}
.header-navigation-item:hover {
  background-color: var(--basik-blue-dark);
}
.header-navigation-item:active {
  color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 -5px 0 #293449;
}
.basket::before {
  background-image: url("../img/icon/basket-header.svg");
}
.basket-full {
  background-color: var(--basik-red);
}
.order {
  background-color: var(--basic-green);
  padding: 9px 16px 9px 19px;
}
.order:hover {
  background-color: #5FBB2D;
}
.order:active {
  background-color: var(--basic-green);
  color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
}
.bookmark {
  margin-left: auto;
}
.bookmark:active {
  background-color: #161D29;
}
.bookmark::before {
  background-image: url("../img/icon/bookmark.svg");
}
.top-menu-item::before {
  content: "";
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  opacity: 0.3;

  margin-right: 8px;
 }
.top-menu-item {
  display: flex;
  align-items: center;
}
.top-menu-item:hover::before {
  opacity: 1;
}
.top-menu-item:active::before {
  opacity: 0.3;
}
.title-container {
  display: flex;
  padding: 25px 14px 25px 28px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--basic-neutral);

  margin-top: 70px;
  box-sizing: border-box;
}
.goods-services {
  position: relative;
}
.goods-services-nav {
  list-style: none;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  gap: 20px;
  padding: 0;
  margin: 0;
}
.goods-services-item {
  width: 300px;
  min-height: 123px;

  position: relative;
  padding: 20px 23px;
  box-sizing: border-box;
}
.new-item::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;

  width: 70px;
  height: 70px;
  background-image: url("../img/icon/new-item.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.goods-services-item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}
.catalog-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 38px;
  width: 135px;
  margin-top: 14px;
}
.catalog-button:hover {
  background-color: rgba(197,197,197,0.3);

}
.catalog-button:active {
  background-color: rgba(169,169,169,0.3);
}


.materials {
  background-color: #FFBF47;
}
.materials::before {
  content: "";
  position: absolute;
  top: 31px;
  right: 43px;

  width: 44px;
  height: 65px;
  background-image: url("../img/icon/materials.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.tools {
  background-color: #3BBCE3;
}
.tools::before {
  content: "";
  position: absolute;
  top: 34px;
  right: 31px;

  width: 75px;
  height: 61px;
  background-image: url("../img/icon/tools.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.technics {
  background-color: #DC91D8;
}
.technics::before {
  content: "";
  position: absolute;
  top: 31px;
  right: 31px;

  width: 78px;
  height: 62px;
  background-image: url("../img/icon/technics.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.discounts {
  background-color: #8ED78F;
}
.discounts::before {
  content: "";
  position: absolute;
  top: 26px;
  right: 45px;

  width: 59px;
  height: 72px;
  background-image: url("../img/icon/basket-main.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.delivery-item {
  background-color: #FFC047;
}
.delivery-item::before {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;

  width: 78px;
  height: 63px;
  background-image: url("../img/icon/car.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.goods-services-slider {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}
.slider {
  list-style: none;
  padding: 0;
}
.slider-item {
  min-width: 620px;
  min-height: 266px;
  background-repeat: no-repeat;
  padding-top: 23px;
  padding-left: 24px;
  box-sizing: border-box;

}
.slider-item-drills {
  background-image: url("../img/sliderTop/drills.jpg");
}
.slider-item-perforators {
  background-image: url("../img/sliderTop/perforators.jpg");
}
.slider-item-noactive {
  display: none;
}
.slider-item-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}
.slider-item-text {
  font-size: 18px;
  line-height: 24px;
  margin: 5px 0;
}
.button {
  background-color: var(--basik-red);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;

  width: 192px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background: #CA2C37;
}
.button:active {
  background:#BA2732;;
}
.button-slider {
  position: absolute;
  bottom: 27px;
  left: 24px;
}
.slider-controls {
  border: none;
  margin: 0;
  padding: 0;
}
.slider-controls-right {
  position: absolute;
  bottom: 105px;
  right: 341px;
  height: 39px;
  width: 21px;

  background-image: url(../img/icon/cornerright.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
}
.slider-controls-left {
  position: absolute;
  bottom: 105px;
  left: 24px;
  height: 39px;
  width: 21px;

  background-image: url(../img/icon/cornerleft.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
}
.section-title {
  font-size: 30px;
  line-height: 30px;
  color: var(--basik-blue);
  text-transform: uppercase;
  margin: 0px;
}
.section-title-black {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
}



/*catalog goods*/
.page-catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 20px;
}
.goods-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0;
  margin: 28px 0 48px;
}
.goods-list-item {
  min-height: 318px;
  width: 220px;
  font-family: var(--pt-sans);
  border: 1px solid #EAEAEA;
  position: relative;
}
.goods-list-item img {
  display: block;
  margin: auto;
}

.goods-list-item:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.goods-item-buy-container {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 100%;
  right: 0;
  height: 170px;
  background-color: var(--basic-white);
  opacity: 0;
  padding: 38px 41px;
}
.goods-item-buy-container .button {
  margin-bottom: 10px;
}

.goods-list-item:hover .goods-item-buy-container {
  opacity: 1;
}

.goods-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);

  width: 185px;
  margin: 8px auto 7px;
  text-align: center;
}
.goods-item-text {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--basic-grey);

  margin: 0 auto;
  width: 172px;
  text-align: center;
}
.goods-item-button {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  height: 38px;
  width: 128px;
  position: relative;

  margin-left: 47px;
  margin-top: 13px;
  margin-bottom: 21px;
}
.goods-item-button::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -13px;


  width: 26px;
  height: 26px;
  background-color: inherit;
  transform: rotate(45deg);
}
.catalog-goods-list .goods-list {
  grid-template-columns: repeat(3, 1fr);
}
.button-green {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-green);
  color: inherit;
  font-family: var(--cuprum);
  border-radius: 2px;
  box-shadow: inset 0 -3px 0 #367315;

  width: 135px;
  height: 38px;
}
.button-green:hover {
  background-color: #5FBB2D;
}
.button-green:active {
  background-color: #518534;
}

.button-white {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  color: var(--basik-blue);
  border: 3px solid #63A63E;
  border-radius: 2px;
  font-family: var(--cuprum);

  width: 135px;
  height: 38px;
  box-sizing: border-box;
}

.button-white:hover {
border: 3px solid var(--basik-blue);
background-color: var(--basic-white);
}
.button-white:active {
  border: 3px solid #98A0AD;
  color: #98A0AD;
  background-color: var(--basic-white);
}

  /*popular-manufacturers*/

 .popular-manufacturers-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0;
  margin-top: 20px;
 }
.popular-manufacturers-item {
  background-color: var(--basic-white);
  width: 220px;
  min-height: 145px;
  border: 1px solid #EAEAEA;
  display: block;
}

.popular-manufacturers-item:hover {
  border: 1px solid #EAEAEA;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.popular-manufacturers-item:active {
  border: 1px solid #EAEAEA;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.5;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

/*Services*/

.services-wrapper {
  background-color: var(--basik-neutral-light);
}
.services {
  width: 940px;
  margin: 70px auto;
  padding: 64px 0 100px;

}
.main-text {
  font-family: var( --pt-sans);
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin: 24px 0 0;
  width: 460px;
}
.services-navigation-container {
 display: flex;
 justify-content: space-between;
 margin-top: 67px;
}
.services-navigation {
  list-style: none;
  margin: 0 80px 0 0;
  padding: 0;
  width: 240px;
  position: relative;
}
.services-navigation::after {
  content: "";
  position: absolute;
  top: -48px;
  right: 0;
  width: 10px;
  height: 279px;

  background-image: url(../img/line.png);
}
.services-navigation-item {
  background-color: var(--basik-blue);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: inherit;
  padding: 14px 0 18px 22px;
}
.services-navigation-item:hover {
  background: var(--basik-blue-dark);
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
}
.services-navigation-item-active {
  background: var(--basic-white);
  color: var(--basik-blue);
  pointer-events: none;
}
.visible {
  flex-grow: 1;
}
.delivery {
  background-image: url(../img/services/delivery.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-color: transparent;
}
.garantee {
  background-image: url(../img/services/guarantee.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-color: transparent;
}
.garantee .main-text {
  width: 331px;
}
.credit {
  background-image: url(../img/services/credit.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-color: transparent;
}
.credit .main-text {
  width: 309px;
  margin-bottom: 27px;

}
.company-contacts {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 300px;
  width: 940px;
  padding-bottom: 70px;
}
.companions .button {
  width: 220px;
  }
.companions-list {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 37px;
}
.companions-list-item {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  margin-bottom: 12px;

  position: relative;
}
.companions-list-item:last-child {
  margin-bottom: 0;
}
.companions-list-item::before{
  content: "";
  position: absolute;
  top: 12px;
  left: -37px;
  width: 25px;
  height: 2px;
  background-color: var(--basik-red);
}
.footer-map figure {
  margin: 0;
}
.mini-map {
  margin-top: 32px;
  margin-bottom: 25px;

  height: 158px;
  width: 300px;
}
.footer-map .button {
  height: 38px;
  width: 100%;
}


/*Footer*/




/*
.footer-navigation {
  background-color: var(--basik-blue);
}

*/
.main-footer {

}
.footer-top-wrapper {
  background-color: var(--basik-blue);
}
.footer-top {
  width: 940px;
  margin: auto;
  display:grid;
  grid-template-columns: 1fr 2fr;
}
.footer-navigation {
 justify-self: end;
}

.footer-bottom-wrapper {
  background-color: var(--basik-blue-dark);
}
.footer-bottom {
  width: 940px;
  margin: auto;
  padding: 35px 0;
  display:grid;
  grid-template-columns: 2fr 2fr 1fr min-content;
  column-gap: 51px;
}
.footer-adress {
  font-size: 18px;
  line-height: 24px;
  color: #F3F7F9;
  width: 329px;
  margin: 22px 0 54px;
}
.footer-navigation-list-up {
  list-style: none;
  margin: 37px 0 34px;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.footer-navigation-item {
  font-size: 18px;
  line-height: 24px;
  margin-right: 58px;
}
li:last-child .footer-navigation-item {
  margin-right: 0;
}
.footer-navigation-list-up .footer-navigation-item {
  color: var(--basik-neutral-light);
}

.footer-navigation-list-up .footer-navigation-item:hover {
  text-decoration: underline;
}
.footer-navigation-list-up .footer-navigation-item:active {
  opacity: 0.5;
}
.footer-navigation-list-down {
  list-style: none;
  margin: 0 0 74px;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

}
.footer-navigation-list-down .footer-navigation-item {
  color:  #FFD180;
 }
.footer-navigation-list-down .footer-navigation-item:hover {
  text-decoration: underline;
}
.footer-navigation-list-down .footer-navigation-item:active {
  opacity: 0.5;
}

 /* м.б. создать 1 див на два section и сделать заливку? */

.footer-text {
  font-size: 16px;
  line-height: 18px;
  color:inherit;
  margin: 0;
}
.footer-social-list {
list-style: none;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
}
.footer-social-item {
  margin-right: 1px;

}

.social-button {
  display: flex;
  justify-content: center;
 align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #212A3A;
}
.social-button:hover {
  background-color: var(--basik-red);
}
.social-button:active {
  background-color: var(--basik-red);
}
.footer-mail {
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  margin: 0;
}
.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  margin: 0;

}
.footer-link {
  font-size: 16px;
  line-height: 18px;
  color: #FFD180;
}

.footer-link:hover {
  text-decoration: underline;
}
.footer-link:active {
  color: var(--basik-red);
}

/*Modal*/

.modal {
  position: absolute;

  background-color: var(--basic-white);
  color: var(--basic-black);
  border-top: 7px solid var(--basik-red);
}
.modal-letter {
  position: absolute;
  bottom: 352px;
  left: 50%;
  transform: translateX(-50%);
  height: 430px;
  width: 620px;
  padding: 40px 80px 37px;
  box-sizing: border-box;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  display: none;
}

/*Показать мод-е окно */

.modal-letter-active {
  display: block;
}
.modal-close {
  position: absolute;
  background-image: url(../img/icon/close.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 21px;
  height: 21px;
  border: none;
  outline: none;
}
.modal-close-letter {
  top: 21px;
  right: 11px;
}
.modal-form {
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
.modal-natification {
  height: 282px;
  width: 620px;
  top: 655px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 20px rgb(0 0 0 / 15%);
  display: none;
}
.modal-natification-active {
  display: block;
}
.modal-natification p {
  margin: 73px 100px 67px;
  padding-left: 84px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  position: relative;
}
.modal-natification p::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  width: 66px;
  height: 66px;
  background-image: url(../img/icon/basket-add.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.order-wrapper {
  height: 112px;
  width: 620px;
  background-color: #F1F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-order {
  margin-right: 10px;
}
.button-close {
  background-color: var(--basic-white);
  color: var(--basic-black);

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  width: 192px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-form-control, .modal-form-control:active, .modal-form-control:hover, .modal-form-control:focus {
  display: block;
  width: 100%;
  background-color: transparent;
  outline: 2px solid #C5C5C5;
  border-radius: 2px;
  margin-top: 11px;
  box-sizing: border-box;
}

.modal-form-input {
  min-height: 38px;
}

.modal-letter-text {
  grid-column-start: 1;
  grid-column-end: -1;
  margin-top: 13px;
  padding-bottom: 37px;
}
.modal-form-text {
  min-height: 114px;
  min-width: 460px;
}
.button-letter-wrapper {
  background-color: #F4F4F4;
  height: 112px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 37px 80px;
  box-sizing: border-box;
  grid-column-start: 1;
  grid-column-end: -1;
}
.button-letter {
  width: 100%;
  height: 38px;
}
.modal-map {
  height: 449px;
  width: 943px;
  bottom: 333px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 20px rgb(0 0 0 / 15%);
  display: none;
}

/*Показать модальное окно */

.modal-map-active {
  display: block;
}

.modal-close-map {
  top: 17px;
  right: 10px;
 }

/*for Catalog header*/

.user-info-container {
  background-color: var(--basic-white);
  display: flex;
  align-items: center;

  height: 45px;
  width: 299px;
  padding: 12px 15px;
  box-sizing: border-box;
}

.user-card {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  display: flex;
  align-items: center;
  width: 100%;
}
.user-card:active {
  color: var(--basic-greylight);
}
.user-card svg {
  margin-right: 21px;
  fill: var(--basic-greylight);
}
.user-card:hover svg {
  fill: #3D546F;
}
.user-card:active svg {
  fill: var(--basic-greylight);
}
.logout svg {
   fill: var(--basic-greylight);
}
.logout:hover svg {
  fill: #3D546F;
}
.logout:active svg {
  fill:var(--basic-greylight);
}
.user-area-container {
  margin: 7px auto;
}
.user-area {
  font-size: 16px;
  line-height: 18px;
  color: var(--basik-blue);
  margin-top: 7px;
}
.user-area:hover {
color: var(--basik-red);
}
.user-area:active {
  color: var(--basic-greylight);
}
.user-area:first-child {
  margin-right: 30px;
  position: relative;
}
.user-area:first-child::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -20px;

  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--basik-blue);
}

/*main*/

/*breadcrumbs*/

.breadcrumbs {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
}
.breadcrumbs li {
  position: relative;
  margin-right: 42px;
}
.breadcrumbs li:not(:first-child)::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -24px;
  width: 8px;
  height: 12px;
  background-image: url(../img/icon/corner-right-small.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
}

.breadcrumbs-item {
  font-family: var( --pt-sans);
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.breadcrumbs-home {


}
/*filters*/

.page-title-catalog {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #F2F6F8;
  color: var(--basik-blue);
  margin: 20px 0;
  padding: 30px;
  grid-column-start: 1;
  grid-column-end: -1;
}
.filters {
color: var(--basic-black);
text-transform: uppercase;
font-family: var( --pt-sans);
font-size: 15px;
line-height: 19px;
grid-row: 3/5;
width: 220px;
}
.filter {
  margin-top: 14px;
}
.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 42px;
  border: none;
}
.filter fieldset:last-of-type {
  margin-bottom: 37px;
}

.filters-title {
  font-family: var( --pt-sans);
  font-size: 13px;
  line-height: 18px;
  background-color:  var(--basik-neutral-light-catalog);
  margin: 0;
  padding: 10px 10px 10px 18px;
  /*height: 38px;
  width: 220px;*/
  box-sizing: border-box;
}

.filters-title-item {
  font-family: var( --pt-sans);
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;

}

.price-controls {
  display: flex;
  width: 220px;
  justify-content: space-between;
  position: relative;
}

.price-controls::after {
  content: '—';
  font-size: 16px;
  font-family: var(--pt-sans);
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.range-controls {
  position: relative;

  background-color: var(--basik-neutral-light-catalog);
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 9px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(171, 171, 171, 0.7);
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 140px;
}
.filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.filter-list li {
  margin-top: 20px;
}
.filter-list li:first-child {
  margin-top: 17px;
}

.filter-radio {
  list-style: none;
  padding: 0;
  margin: 0
}
.filter-radio li {
  margin-top: 23px;
}
.text-field, .text-field::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basik-neutral-light-catalog);
  text-align: center;
}
.text-field {
  width: 95px;
  height: 38px;
}
.checkbox-label, .radio-label {
  display: flex;
  align-items: center;
}
.checkbox-label {
  cursor: pointer;
  user-select: none;
}
 .checkbox-label svg {
  display: none;
  margin-right: 12px;
  fill: var(--basic-greylight);
}
.checkbox-field:checked + .checkbox-label .checkbox-on {
  display: block;
}
.checkbox-field:not(:checked) + .checkbox-label .checkbox-off {
  display: block;
}
.checkbox-label:hover svg {
  fill: #B5B5B5;
}
.checkbox-field:disabled + .checkbox-label svg {
  fill: #E9E9E9;
}
.checkbox-field:disabled + .checkbox-label {
  color:  #E9E9E9;
}
.radio-label {
  cursor: pointer;
  user-select: none;
}
.radio-label svg {
  display: none;
  margin-right: 10px;
  fill: var(--basic-greylight);
}
.radio-field:checked + .radio-label .radio-on {
  display: block;
}
.radio-field:not(:checked) + .radio-label .radio-off {
  display: block;
}
.radio-label:hover svg {
  fill: #B5B5B5;
}
.radio-field:disabled + .radio-label svg {
  fill: #E9E9E9;
}
.radio-field:disabled + .radio-label {
  color:  #E9E9E9;
}
.submit-button {
  height: 38px;
  width: 220px;
  background: var(--basic-white);
  border: 1px solid #E5E5E5;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  }
.submit-button:focus {
  border: none;
  outline: none;
}

/*sort*/

.sort {
  font-family: var( --pt-sans);
  background-color: var(--basik-neutral-light-catalog);
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  display: flex;
}
.sort-title {
  font-size: 13px;
  margin: 10px 140px 10px 19px;
}
.sort-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

  flex-grow: 1;
}
.sort-item:not(:first-child) {
  opacity: 0.3;
  border-bottom: 1px dashed var(--basik-red);
  margin-left: 65px;
}


.sort-item:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basik-red);
  opacity: 1;
}
.sort-item-active {
  color: var(--basik-red);
  border-bottom: none;
  opacity: 1;
}
.sort-deriction {
  fill: var(--basic-greylight);
}
.sort-deriction:hover {
  fill: var(--basic-black);
}
.sort-deriction:active {
  fill: var(--basik-red);
}
.sort-deriction-active {
  fill: var(--basik-red);
}
.goods-list {
list-style: none;
}
.sort-item-asc {
  margin: 14px 0 14px 46px;
}
.sort-item-desc {
  margin: 14px 14px 14px 21px;
}
.pager-navigation {
list-style: none;
margin-bottom: 59px;
padding: 0;
display: flex;
box-sizing: border-box;
}
.pager-item {
  font-family: var( --pt-sans);
  font-size: 13px;
  line-height: 18px;
  border: 1px solid  #E5E5E5;
  border-radius: 2px;
  color: var(--basic-black);
  text-transform: uppercase;
  padding: 10px 15px;
  margin-right: 10px;
  box-sizing: border-box;
  display: block;
}
.pager-item:hover {
  border: 1px solid var(--basic-greylight);
  }
.pager-item:active {
  border: 1px solid var(--basik-red);
  }
.pager-item-active {
  background-color: var(--basik-red);
  color: var(--basic-white)
}
.page-discription-wrapper{
  background: var(--basik-neutral-light);
}
.page-discription {
  width: 940px;

  padding: 64px 0 68px;
}
.page-discription-title {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
}
.text-description {
  font-family: var( --pt-sans);
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin: 25px 0 0;
}
