/*не получ определить цвет в хедере
F3F7F8
--basic-yellow: #FFBF47;
--basik-blue-light: #3BBCE3;
--basik-purple: #DC91D8;
--basik-green-light: #8ED78F;
--basic-yellow-light: #FFC047;
*/


/* Variables */

:root {
  --basic-white: #ffffff;
  --basik-blue-dark: #293449;
  --basik-blue: #32425C;
  --basik-red: #EE3643;
  --basic-black: #000000;
  --basic-green: #63A63E;
  --basic-yellow: #FFD180;
  --basic-neutral:  #F9F5F0;
  --basik-neutral-light: #F1F5F7;
  --basik-neutral-light-catalog: #F7F3EC;
  --basic-grey: #A9A9A9;
  --basic-greylight: #C5C5C5;

  --cuprum: "Cuprum", "Arial", sans-serif;
  --pt-sans: "PT Sans", "Roboto", sans-serif;
}
/* Global */

input, input:hover, input:focus, input:active {
  border: none;
  outline: none;
}
fieldset {
  border: none;
}
.page {
  height: 100%;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: var(--cuprum);
  color: var(--basic-white);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
    }
a {
    text-decoration: none;
    color: inherit;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  h1 {
    font-weight: normal;

      }
  h2 {
font-weight: normal;

  }
  /* main-header */

.main-header {
  background-color: var(--basik-neutral-light);
  min-height: 320px;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
  }
  .top-header-container {
    background-color: var(--basik-blue-dark);
    outline: 5px solid rgba(37, 175, 129, 0.7);
    outline-offset: -5px;
  }

  .index-content
  {
    margin-top: 59px;
  }

.header-logo {
  height: 47px;
  width: 220px;
  background-color: var(--basik-red);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo:active {
  background-color: #BA2732;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  display: flex;
}
.main-container {
  width: 940px;
  margin: 0 auto;

  /*background-color: var(--basic-white);*/
}
.footer-logo {
  height: 68px;
  width: 220px;
  background: var(--basik-red);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logo:active {
  background:  #BA2732;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  display: flex;
}
/* header-navigation*/

.header-navigation {
  background-color: var(--basik-blue-dark);
  min-height: 42px;
  width: 940px;
  display: flex;
  align-items: center;
}
.header-search {
  background-color: transparent;
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  width: 274px;
}
.header-search::placeholder {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  font-family: var(--cuprum);
}

.header-search:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.header-search:focus::placeholder {
  color: var(--basic-black);
}
.header-title-company {
  background-color: transparent;
  color: var(--basik-red);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}
.contacts-phone {
  color: var(--basik-red);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  display: block;
  box-sizing: border-box;
  padding: 7px 45px 8px 74px;
  min-width: 270px;
  min-height: 45px;
  outline: 3px solid #FFFFFF;
  outline-offset: -3px;
}
.contacts-adress {
  color: var(--basik-blue);
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}
.login-button {
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
}
.user-info {
  justify-self: flex-end;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}
.login-link {
  padding: 12px 27px 12px 45px;
  margin-right: 10px;
}
.register-link {
  padding: 12px 24px;
}
.login-button:hover {
  color: var(--basik-red);
}
.login-button:active {
  color: var(--basic-greylight);
}
.bottom-header-container {
  outline: 5px solid rgba(175, 161, 37, 0.7);
  outline-offset: -5px;
  width: 940px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
  column-gap: 20px;
}
.header-contact, .user-info {
  margin-top: 43px;
  min-height: 110px;
  box-sizing: border-box;
}

.header-title-company {
  align-self: center;
  width: 197px;
  margin-left: 30px;
}
.header-navigation-main {
  background-color: var(--basik-blue);
  grid-column-start: 1;
  grid-column-end: -1;
}
.header-navigation-list {
  list-style: none;
  margin: 0;
  padding: 16px 53px 20px;
  display: flex;
  justify-content: space-between;
}
.header-navigation-item {
  font-size: 18px;
  line-height: 24px;
  white-space: nowrap;
}
.header-navigation-item:hover {
  background-color: var(--basik-blue-dark);
}
.header-navigation-item:active {
  color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 -5px 0 #293449;
}
.basket {
  /*display: block;*/
  padding: 9px 26px 9px 49px;
}
.basket-full {
  background-color: var(--basik-red);
}
.order {
  background-color: var(--basic-green);
  padding: 9px 16px 9px 19px;
}
.order:hover {
  background-color: #5FBB2D;
}
.order:active {
  background-color: var(--basic-green);
  color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
}
.bookmark {
  margin-left: auto;
  padding: 9px 24px 9px 43px;
}
.bookmark:active {
  background-color: #161D29;
}
.title-container {
  display: flex;
  padding: 25px 14px 25px 28px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--basic-neutral);
}
.goods-services-nav {
  list-style: none;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  gap: 20px;
  padding: 0;
  margin: 0;
}
.goods-services-item {
  width: 300px;
  min-height: 123px;
}
.goods-services-item-title {
font-weight: bold;
font-size: 24px;
line-height: 30px;

}
.catalog-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}
.catalog-button:hover {
  background-color: rgba(197,197,197,0.3);

}
.catalog-button:active {
  background-color: rgba(169,169,169,0.3);
}
.materials {
  background-color: #FFBF47;

}
.tools {
  background-color: #3BBCE3;

}
.technics {
  background-color: #DC91D8;

}
.discounts {
  background-color: #8ED78F;

}
.delivery {
  background-color: #FFC047;

}
.goods-services-slider {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}
.slider {
  list-style: none;
  padding: 0;
}
.slider-item {
  min-width: 620px;
  min-height: 266px;
  background-repeat: no-repeat;
}
.slider-item-drills {
  background-image: url("../img/sliderTop/drills.jpg");
}
.slider-item-perforators {
  background-image: url("../img/sliderTop/perforators.jpg");
}
.slider-item-noactive {
  display: none;
}
.slider-item-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}
.slider-item-text {
  font-size: 18px;
  line-height: 24px;
}
.button {
  background-color: var(--basik-red);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
}
.button:hover {
  background: #CA2C37;
}
.button:active {
  background:#BA2732;;
}

.section-title {
  font-size: 30px;
  line-height: 30px;
  color: var(--basik-blue);
  text-transform: uppercase;
  margin: 0;
}
.section-title-black {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
}

/*catalog goods*/
.page-catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 20px;
}
.goods-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0;
  margin: 28px 0 48px;
}
.goods-list-item {
  min-height: 318px;
  width: 220px;
  font-family: var(--pt-sans);
  border: 1px solid #EAEAEA;

}
.goods-list-item:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.goods-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}
.goods-item-text {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--basic-grey);
}
.goods-item-button {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}
.catalog-goods-list .goods-list {
  grid-template-columns: repeat(3, 1fr);
}
.button-green {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-green);
  color: inherit;
  font-family: var(--cuprum);
  border-radius: 2px;
  box-shadow: inset 0 -3px 0 #367315;
}
.button-green:hover {
  background-color: #5FBB2D;
}
.button-green:active {
  background-color: #518534;
}

.button-white {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  color: var(--basik-blue);
  border: 3px solid #63A63E;
  border-radius: 2px;
  font-family: var(--cuprum);

}

.button-white:hover {
border: 3px solid var(--basik-blue);
background-color: var(--basic-white);
}
.button-white:active {
  border: 3px solid #98A0AD;
  color: #98A0AD;
  background-color: var(--basic-white);
}

  /*popular-manufacturers*/

 .popular-manufacturers-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0;
  margin-top: 20px;
 }
.popular-manufacturers-item {
  background-color: var(--basic-white);
  width: 220px;
  min-height: 145px;
  border: 1px solid #EAEAEA;
  display: block;
}

.popular-manufacturers-item:hover {
  border: 1px solid #EAEAEA;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.popular-manufacturers-item:active {
  border: 1px solid #EAEAEA;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0.5;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

/*Services*/

.services-wrapper {
  background-color: var(--basik-neutral-light);
}
.services {
  width: 940px;
  margin: 70px auto;
  padding: 64px 0 100px;

}
.main-text {
  font-family: var( --pt-sans);
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin: 25px 0 0;
  width: 460px;
}
.services-navigation-container {
 display: flex;
 justify-content: space-between;
}
.services-navigation {
  list-style: none;
  margin: 0 80px 0 0;
  padding: 0;
  width: 240px;
}

.services-navigation-item {
  background-color: var(--basik-blue);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: inherit;
  padding: 14px 0 18px 22px;
}
.services-navigation-item:hover {
  background: var(--basik-blue-dark);
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
}
.services-navigation-item-active {
  background: var(--basic-white);
  color: var(--basik-blue);
  pointer-events: none;
}
.visible {
  flex-grow: 1;

}
.company-contacts {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 300px;
  width: 940px;
  padding-bottom: 70px;
}

.companions-list {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 37px;
}
.companions-list-item {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  margin-bottom: 12px;
}
.companions-list-item:last-child {
  margin-bottom: 0;
}
/*Footer*/




/*
.footer-navigation {
  background-color: var(--basik-blue);
}

*/
.main-footer {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}
.footer-top-wrapper {
  background-color: var(--basik-blue);
}
.footer-top {
  width: 940px;
  margin: auto;
  display:grid;
  grid-template-columns: 1fr 2fr;
}
.footer-navigation {
 justify-self: end;
}

.footer-bottom-wrapper {
  background-color: var(--basik-blue-dark);
}
.footer-bottom {
  width: 940px;
  margin: auto;
  padding: 35px 0;
  display:grid;
  grid-template-columns: 2fr 2fr 1fr min-content;
}
.footer-adress {
  font-size: 18px;
  line-height: 24px;
  color: #F3F7F9;
  width: 329px;
  margin: 22px 0 54px;
}
.footer-navigation-list-up {
  list-style: none;
  margin: 37px 0 34px;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.footer-navigation-item {
  font-size: 18px;
  line-height: 24px;
  margin-right: 58px;
}
li:last-child .footer-navigation-item {
  margin-right: 0;
}
.footer-navigation-list-up .footer-navigation-item {
  color: var(--basik-neutral-light);
}

.footer-navigation-list-up .footer-navigation-item:hover {
  text-decoration: underline;
}
.footer-navigation-list-up .footer-navigation-item:active {
  opacity: 0.5;
}
.footer-navigation-list-down {
  list-style: none;
  margin: 0 0 74px;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

}
.footer-navigation-list-down .footer-navigation-item {
  color:  #FFD180;
 }
.footer-navigation-list-down .footer-navigation-item:hover {
  text-decoration: underline;
}
.footer-navigation-list-down .footer-navigation-item:active {
  opacity: 0.5;
}

 /* м.б. создать 1 див на два section и сделать заливку? */

.footer-text {
  font-size: 16px;
  line-height: 18px;
  color:inherit;
  margin: 0;
}
.footer-social-list {
list-style: none;
margin: 0;
padding: 0;
display: flex;
}
.footer-social-item {
  color:inherit;
  background-color: #212A3A;
}
.footer-social-item:hover {
  background-color: var(--basik-red);
}
.footer-mail {
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  margin: 0;
}
.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  margin: 0;

}
.footer-link {
  font-size: 16px;
  line-height: 18px;
  color: #FFD180;
}

.footer-link:hover {
  text-decoration: underline;
}
.footer-link:active {
  color: var(--basik-red);
}

/*Modal*/

.modal {
background-color: var(--basic-white);
color: var(--basic-black);
border-top: 7px solid var(--basik-red);
}

.modal-letter {
  height: 430px;
  width: 620px;
  padding: 40px 80px 37px;
  box-sizing: border-box;
}
.modal-form {
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.modal-form-input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 2px solid #C5C5C5;
  border-radius: 2px;
  margin-top: 11px;
  box-sizing: border-box;
  min-height: 38px;

}
.modal-letter-text {
  grid-column-start: 1;
  grid-column-end: -1;
  margin-top: 13px;
  padding-bottom: 37px;
}
.modal-form-text {
  min-height: 114px;
  min-width: 460px;

}
.button-letter-wrapper {
  background-color: #F4F4F4;
  height: 112px;
  width: 100%;
  padding: 37px 80px;
  box-sizing: border-box;
  grid-column-start: 1;
  grid-column-end: -1;
}
.button-letter {
  width: 100%;
  height: 38px;
}

/*for Catalog header*/

.user-card {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: block;
  width: 100%;
  padding: 12px 56px;
}
.user-area {
  font-size: 16px;
  line-height: 18px;
  color: var(--basik-blue);
}
.user-area:hover {
color: var(--basik-red);
}
.user-area:active {
  color: var(--basic-greylight);
  }
.user-card:active {
  color: var(--basic-greylight);
}

/*main*/

/*breadcrumbs*/

.breadcrumbs {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
}

.breadcrumbs-item {
  font-family: var( --pt-sans);
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-right: 42px;
}

/*filters*/

.page-title-catalog {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #F2F6F8;
  color: var(--basik-blue);
  margin: 20px 0;
  padding: 30px;
  grid-column-start: 1;
  grid-column-end: -1;
}
.filters {
color: var(--basic-black);
text-transform: uppercase;
font-family: var( --pt-sans);
font-size: 15px;
line-height: 19px;
grid-row: 3/5;
width: 220px;
}
.filter {
  margin-top: 14px;
}
.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 42px;
  border: none;
}
.filter fieldset:last-of-type {
  margin-bottom: 37px;
}

.filters-title {
  font-family: var( --pt-sans);
  font-size: 13px;
  line-height: 18px;
  background-color:  var(--basik-neutral-light-catalog);
  margin: 0;
  padding: 10px 10px 10px 18px;
  /*height: 38px;
  width: 220px;*/
  box-sizing: border-box;
}

.filters-title-item {
  font-family: var( --pt-sans);
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;

}
.filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.filter-list li {
  margin-top: 20px;
}
.filter-list li:first-child {
  margin-top: 17px;
}
.filter-radio {
  list-style: none;
  padding: 0;
  margin: 0
}
.filter-radio li {
  margin-top: 23px;
}
.text-field, .text-field::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basik-neutral-light-catalog);
  text-align: center;
}

/*sort*/

.sort {
  font-family: var( --pt-sans);
  background-color: var(--basik-neutral-light-catalog);
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  display: flex;
}
.sort-title {
  font-size: 13px;
  margin: 10px 140px 10px 19px;
}
.sort-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.sort-item {
  opacity: 0.3;
  border-bottom: 1px dashed var(--basik-red);
}
.sort-item:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basik-red);
  opacity: 1;
}
.sort-item-active {
  color: var(--basik-red);
  border-bottom: none;
  opacity: 1;
}
.goods-list {
list-style: none;
}

.pager-navigation {
list-style: none;
margin-bottom: 59px;
padding: 0;
display: flex;
box-sizing: border-box;
}
.pager-item {
  font-family: var( --pt-sans);
  font-size: 13px;
  line-height: 18px;
  border: 1px solid  #E5E5E5;
  border-radius: 2px;
  color: var(--basic-black);
  text-transform: uppercase;
  padding: 10px 15px;
  margin-right: 10px;
  box-sizing: border-box;
  display: block;
}
.pager-item:hover {
  border: 1px solid var(--basic-greylight);
  }
.pager-item:active {
  border: 1px solid var(--basik-red);
  }
.pager-item-active {
  background-color: var(--basik-red);
  color: var(--basic-white)
}
.page-discription-wrapper{
  background: var(--basik-neutral-light);
}
.page-discription {
  width: 940px;

  padding: 64px 0 68px;
}
.page-discription-title {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
}
.text-description {
  font-family: var( --pt-sans);
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin: 25px 0 0;
}
